<% learning_languages = current_user.language_relationships.where(relationship: 'learning') %>
<% learning_languages.each do |relationship| %>
  <div class="language-relationship">
    <p class="language-name"><%= relationship.language.english %></p>
    <div class="delete-language">
      <%= link_to language_relationship_path(relationship.id), method: :delete, remote: true do %>
        <%= fa_icon "remove" %>
      <% end %>
    </div>
  </div>
<% end %>