<%= simple_form_for [@user, @testimonial] do |f| %>
  <div class="authform">
    <div id="user_star"></div>
    <%= f.input :content %>
    <%= f.submit 'Submit', class: "btn btn-primary btn-block" %>
  </div>
<% end %>