<div class="panel panel-default">
  <div class="panel-body">
    <p>"<%= testimonial.content %>"</p>
    <p>- <%=  testimonial.learner.user.first_name %> <%= testimonial.learner.user.last_name %></p>
  </div>
</div>