<h1>New Testimonial</h1>

<%= render 'form' %>

<script>
  $('#user_star').raty({
    rating: <%= @rating.rating %>,
    path: '/assets',
    click: function(rating, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { rating: rating }
      });
    }
  });
</script>